* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.accordion {
  width: 500px;
  margin-inline: auto;
}

.accordion-item {
  text-align: center;
  margin-bottom: 32px;
  padding-top: 16px;
  background-color: #333;
  color: aliceblue;
  max-height: 56px;
  overflow: hidden;
  transition: max-height 0.5s;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 0.2);
}

.accordion-item-show {
  max-height: 1000px;
}

.accordion-title,
.accordion-text {
  margin: 0;
  pointer-events: none;
}

.accordion-title {
  margin-bottom: 16px;
}

.accordion-text {
  padding: 16px 32px;
  background-color: aliceblue;
  color: #333;
}
